.container {
	display: flex;
	height: 806.188px;
}

.our_company {
	width: 45vw;
}

.our_company h1 {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}

.our_company p {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8px;
}

.our_products {
	width: 45vw;
	height: auto;
}

.our_products h1 {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}

.our_products p {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8px;
}

.rewards {
	height: auto;
	width: 45vw;
}

.rewards h1 {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 700;
	font-size: 68px;
	line-height: 102px;
	text-align: center;
}

.rewards p {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8px;
}

.earning {
	color: #ed5b55;
}

.rewards_row {
	margin-top: 20px;
	display: flex;
	width: 100%;
	height: 240px;
	justify-content: space-around;
}

.rewards_row div {
	display: flex;
	flex-direction: column;
	width: 33%;
	text-align: center;
}

.rewards_row div img {
	height: 160px;
	width: 110px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rewards_row div p {
	font-family: 'Poppins-medium';
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #465e68;
	margin: auto;
	margin-top: 20px;
}

.FAQs {
	height: 806.188px;
	width: 45vw;
}

.FAQs h1 {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}

.about_buttons_container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
	width: fit-content;
	justify-content: center;
	gap: 0 10%;
}

.about_button {
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 39px;
	height: fit-content;
	text-transform: uppercase;
	transition: all linear 0.25s;

	text-align: center;
	width: fit-content;
}

.about_button:hover {
	filter: brightness(1.8);
	transform: scale(1.2);
	cursor: pointer;
}

.about_button img {
	height: 200px;
	width: 200px;
	text-align: center;
	margin-left: 12px;
}

.about_button h2 {
	color: #465e68;
	text-align: center;
	width: fit-content;
	margin: auto;
}

.faq_item {
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: 'Poppins-medium';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	background-color: rgba(237, 91, 85, 0.35);
	width: fit-content;
	color: black;
	margin-bottom: 30px;
	padding: 0px 4px;
	border-radius: 5px;
	overflow: hidden;
}

.faqImage {
	width: 245px;
	height: 245px;
}

.question_container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.question_container p {
	margin-right: 10px;
}

.question_container button {
	border: 1.00088px solid #ed5b55;
	background: none;
	width: fit-content;
	height: fit-content;
	border-radius: 10px;
	font-size: 10px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0;
	margin-left: auto;
	color: #ed5b55;
}
