@font-face {
	font-family: 'Poppins';
	src: url('/public/fonts/Poppins-Regular.ttf');
	font-family: 'Poppins-Bold';
	src: url('../../public/fonts/Poppins-Bold.ttf');
}

.container {
	font-family: 'Poppins';
	display: flex;
}

.container button {
	cursor: pointer;
}

.left {
	text-align: center;
}

.header {
	font-family: 'Poppins-bold';
	display: flex;
	justify-content: center;
	font-size: 68px;
	margin-bottom: 55px;
	width: 638px;
	height: 48px;
	flex-direction: column;
}

.left img {
	margin-bottom: 62px;
}

.left > p {
	font-family: 'Poppins';
	margin-bottom: 19px;
}

.visitSentence {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: 'Poppins';
	font-weight: 500;
	margin-bottom: 26px;
}

.addressContainer {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 37.7px;
}

.northSouthContainer {
	justify-content: center;
	display: flex;
	font-size: 20px;
	display: flex;
	line-height: 37.7px;
	margin-left: 60px;
}

.north {
	margin-right: 10px;
	width: 276px;
	height: 104px;
}

.south {
	width: 276px;
	height: 104px;
}

.north span,
.south span {
	font-family: 'Poppins-Bold';
	color: #ed5b55;
}

.addressContainer button {
	margin-top: 10px;
	text-align: center;
}

.addressContainer button:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #ed5b55;
	box-shadow: 0px 0px 10px 1px #ed5b55;
}

.addressContainer button:active {
	background: #465e68;
	box-shadow: 0px 4px 4px rgba(70, 94, 104, 0.25);
}

.directionBtn {
	background-color: #ed5b55;
	box-shadow: 0px 0px 10px 1px #ed5b55;
	border-radius: 10px;
	color: #ffffff;
	line-height: 20px;
	padding: 13px 34px;
	border: none;
	font-family: 'Poppins';
}

.right {
	margin-top: -30px;
	margin-left: 400px;
}

.contactForm label {
	margin-bottom: 8px;
}

.contactForm label,
.contactForm input,
.contactForm textarea {
	border: none;
	border-radius: 10px;
	display: block;
	resize: none;
}

.contactForm input {
	width: 506px;
	height: 40px;
	margin-bottom: 8px;
}

.contactForm textarea {
	width: 418px;
	height: 136px;
	margin-bottom: 6px;
	width: 506px;
}

.contactForm button {
	color: #ffffff;
	background-color: #ed5b55;
	float: right;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	width: 127px;
	height: 40px;
}

.contactForm button:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #ed5b55;
}

.contactForm button:active {
	background: #465e68;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.successMessage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 427px;
	height: 470px;
}

.successMessage span {
	font-size: 36px;
	font-family: 'Poppins-bold';
	margin-bottom: 40px;
}
