@font-face {
	font-family: 'Poppins';
	src: url('/public/fonts/Poppins-Regular.ttf');
	font-family: 'Poppins-Bold';
	src: url('../../public/fonts/Poppins-Bold.ttf');
}

.container {
	margin-left: 60px;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	overflow: visible;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	height: 500px;
}

.header,
.headerSpan {
	display: flex;
	flex-direction: column;
	height: 48px;
	text-align: center;
	font: 68px;
	width: 681px;
	height: 48px;
	font-size: 68px;
	font-weight: 700;
	justify-content: center;
	font-family: 'Poppins-bold';
	user-select: none;
}

.headerSpan {
	margin-top: 16px;
	color: #ed5b55;
}

.addressIcon {
	margin-left: 10px;
	z-index: inherit;
}

.arrow {
	width: 28px;
	height: 28px;
	border-radius: 25px;
	background: #ed5b55;
	display: flex;
	z-index: 1;
	align-items: center;
	justify-content: center;
}

.arrow:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #ed5b55;
}

.arrow:active {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ed5b55;
}

.paragraph {
	font-size: 16px;
	font-weight: 300;
	justify-content: center;
	text-align: center;
}

.menuBtnLink {
	text-decoration: none;
}

.menuBtn {
	width: 176px;
	padding: 10px 20px;
	gap: 10px;
	height: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
	margin-top: 2rem;
	color: #ffffff;
	background-color: #ed5b55;
	font-family: 'Poppins';
	font-size: 26px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
	box-shadow: 0px 0px 10px 1px #ed5b55;
}

.menuBtn:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #ed5b55;
	box-shadow: 0px 0px 10px 1px #ed5b55;
	border-radius: 10px;
}

.menuBtn:active {
	background: #465e68;
	box-shadow: 0px 0px 10px 1px rgba(70, 94, 104, 0.5);
	border-radius: 10px;
}

.sushiBackgroundContainer {
	width: 100vw;
	height: 75vh;
	/* height: 700px; */
}

.sushi {
	margin-left: 200px;
	margin-top: -160px;
}
