* {
	margin: 0;
}

body {
	margin-left: 60px;
	margin-right: auto;
	background-color: #f3ede6;
	overflow: hidden;
}

body > header,
body > nav {
	display: inline-flex;
}

.scallop {
	position: absolute;
	width: 600px;
	height: auto;
	margin-left: 320px;
	/* margin-top: -95px; */
}
.topVectorLine {
	position: absolute;
	width: 1800px;
	height: auto;
	margin-top: -300px;
	margin-left: 850px;
	z-index: -2;
}

.botVectorLine {
	position: absolute;
	margin-left: -1000px;
	margin-top: 450px;
	z-index: -2;
}

div > .lineContainer {
	overflow: hidden;
}
