* {
	margin: 0;
}

body {
	margin-left: 60px;
	margin-right: auto;
	background-color: #f3ede6;
	overflow: hidden;
}

body > section {
	margin-top: 39px;
}

body > header,
body > nav {
	display: inline-flex;
	position: relative;
}

.scallop {
	position: absolute;
	float: right;
	width: 600px;
	height: auto;
	margin-left: 260px;
}
.topVectorLine {
	position: absolute;
	width: 1900px;
	height: auto;
	margin-top: -400px;
	margin-left: 850px;
	z-index: -2;
}

.botVectorLine {
	position: absolute;
	margin-left: -1000px;
	margin-top: 400px;
	z-index: -2;
}
