@font-face {
	fiont-family: 'Poppins';
	src: url('/public/fonts/Poppins-Regular.ttf');
	font-family: 'Poppins-Bold';
	src: url('../../public/fonts/Poppins-Bold.ttf');
}

.container {
	align-items: center;
	display: flex;
	margin-left: 60px;
	height: inherit;
}

.headerContainer {
	width: 690px;
	height: inherit;
}

.header,
.header > span {
	font-family: 'Poppins-Bold';
	font-size: 80px;
	text-align: center;
	line-height: 4.5rem;
	user-select: none;
}

.headerSpan {
	color: #ed5b55;
}

.vectorContainer {
	display: flex;
	width: 1170px;
	height: inherit;
	margin-top: 5rem;
}

.bigCircle {
	margin-top: -200px;
	margin-left: 100px;
	width: 920px;
	height: auto;
	user-select: none;
	overflow: hidden;
	z-index: -2;
}

.floral {
	position: absolute;
	width: 130px;
	height: auto;
	margin-left: 40px;
	margin-top: -30px;
	user-select: none;
}

.sVector {
	position: absolute;
	width: 180px;
	height: auto;
	margin-top: 360px;
	margin-left: 20px;
	user-select: none;
	z-index: 0;
}

.starContainer {
	margin-top: 62px;
	display: flex;
	justify-content: center;
}

.starContainer img {
	width: 20px;
	height: auto;
	align-content: center;
	margin-right: 10px;
	user-select: none;
}

.paragraph {
	margin: auto;
	text-align: center;
	margin-top: 48px;
	line-height: 30.1px;
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 55px;
}

.orderBtn {
	padding: 10px 20px;
	gap: 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
	color: #ffffff;
	background-color: #ed5b55;
	font-family: 'Poppins';
	font-size: 26px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
	box-shadow: 0px 0px 10px 1px #ed5b55;
}

.orderBtn:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #ed5b55;
	box-shadow: 0px 0px 10px 1px #ed5b55;
	border-radius: 10px;
}

.orderBtn:active {
	background: #465e68;
	box-shadow: 0px 0px 10px 1px rgba(70, 94, 104, 0.5);
	border-radius: 10px;
}
