.container {
	display: relative;
	width: 17.03125vw;
	height: 20.490928495197437vh;
	margin-top: -2rem;
}

.logo {
	position: absolute;
	top: 1.6rem;
	left: 1.6rem;
	cursor: pointer;
}

.logo > a {
	text-decoration: none;
	font-size: 0px;
}

.logo:hover {
	filter: opacity(85%);
}

.logo:active {
	filter: contrast(10%);
}

/* CSS styles for mobile phones */
@media (max-width: 767px) {
}

/* CSS styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* CSS styles for small laptops and desktops */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* CSS styles for medium laptops and desktops */
@media (min-width: 1280px) and (max-width: 1439px) {
}

/* CSS styles for extra large screens and high-resolution displays */
@media (min-width: 1920px) {
}
