.container {
	margin-left: -60px;
}

.logo {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	cursor: pointer;
}

.logo:hover {
	filter: opacity(85%);
}

.logo:active {
	filter: contrast(10%);
}

/* CSS styles for mobile phones */
@media (max-width: 700px) {
	.container {
		width: 35vw;
		height: 20vh;
	}

	.logo {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		width: 45px;
		height: 45px;
	}
}

/* CSS styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
	.container {
		width: 25vw;
		height: 15vh;
	}

	.logo {
		margin-top: 1rem;
		margin-left: 1rem;
		width: 60px;
		height: 60px;
	}
}

/* CSS styles for laptops and desktops */
@media (min-width: 769px) and (max-width: 1024px) {
	.container {
		width: 20rem;
		height: 10rem;
	}

	.logo {
		margin-top: 1.5rem;
		margin-left: 1.5rem;
	}
}

/* CSS styles for large screens and high-resolution displays */
@media (min-width: 1025px) {
	.container {
		width: 300px;
		height: 145px;
	}

	.logo {
		margin-top: 1rem;
		margin-left: 1rem;
	}
}
