.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 20px;
	line-height: 39px;
}

.container h1 {
	font-family: 'Poppins';
	font-weight: bold;
	text-underline-offset: 10px;
	padding-left: 8px;
	padding-right: 8px;
	width: fit-content;
	white-space:nowrap;
}

.container h1:hover {
	cursor: pointer;
}
