.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 20px;
	line-height: 39px;
}

	.container h1 {
		display:flex;
		font-family: 'Poppins-medium';
		font-weight: bold;
		text-underline-offset: 10px;
		padding-left: 8px;
		padding-right: 8px;
		width: fit-content;
		white-space: nowrap;
		transition: transform linear 0.25s;
	}

	.container h1:hover{
		transform:scale(1.1);
	}

.container h1:hover {
	cursor: pointer;
}
