@font-face {
	font-family: 'Poppins';
	src: url('../../public/fonts/Poppins-Regular.ttf');
}

.navBar {
	display: flex;
	max-width: fit-content;
	width: 20vw;
	height: auto;
}

.navBar li {
	list-style: none;
	margin-right: 1.5625rem;
}

.separator {
	user-select: none;
	font-weight: bold;
}

.navBar a {
	color: black;
	text-decoration: none;
	font-family: 'Poppins';
	padding: 0.3125rem;
	font-weight: bold;
	font-size: 1.25rem;
	text-align: center;
}

.navBar a:hover {
	color: red;
	border-style: solid;
	border-color: red;
	border-radius: 0.3125rem;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
}

.navBar a:active {
	color: white;
	border-color: white;
}

.navBar .active {
	color: red;
	border-style: solid;
	border-color: red;
	border-radius: 0.3125rem;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
}

.separator {
	font-size: 1.375rem;
}
