@font-face {
	font-family: 'Poppins';
	src: url('../../public/fonts/Poppins-Regular.ttf');
}

.navBar {
	display: flex;
}

.navBar li {
	list-style: none;
	margin-right: 25px;
}

.separator {
	user-select: none;
	font-weight: bold;
}

.navBar a {
	color: black;
	text-decoration: none;
	font-family: 'Poppins';
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.navBar a:hover {
	color: red;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.navBar a:active {
	color: white;
	border-color: white;
}

.navBar .active {
	color: red;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.separator {
	font-size: 22px;
}
