@font-face {
	font-family: 'Poppins';
	src: url('../../public/fonts/Poppins-Regular.ttf');
}

.navBar {
	/* margin-top: 100px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navBar li {
	list-style: none;
	margin-right: 25px;
	border: 2px;
	border-color: red;
}

.navBar a {
	color: black;
	text-decoration: none;
	font-family: 'Poppins';
	padding: 5px;
}

.navBar a:hover {
	color: red;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
}

.navBar a:active {
	color: white;
	border-color: white;
}

.navBar a.active {
	color: blue;
	border-color: blue;
}
